// FONT-FAMILY
$font-family-primary: 'Nunito';

// BACKGROUND COLORS
$primary-color: #F4E041;
$secondary-color: #00BDD3;
$background-color: #F8F8F8;
$disabled-button: #B4B4B4;

// FONT COLORS
$black-80: rgba(0, 0, 0, 0.8);
$black-87: rgba(0, 0, 0, 0.87);

// TYPOGRAPHY
$h1: 40px;
$p1: 16px;
$input-label: 14px;
$input-helper-text: 12px;

// INPUT COLORS
$border: #D0CFCF;
$placeholder: #7E7E7E;